In [2]:
#Vers√£o do python no notebook
from platform import python_version
print(python_version())

3.9.13

# Instalando pacote watermark no Notebook:

In [3]:
!pip install -q -U watermark

# Carregando Pacotes:

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

In [5]:
%reload_ext watermark
%watermark -a "DSA" --iversions

Author: DSA

pandas    : 1.4.4
matplotlib: 3.5.2
numpy     : 1.21.5
seaborn   : 0.11.2

# Carregando Dados:

In [6]:
dadosRH = pd.read_csv("dadosRH.csv")

In [7]:
dadosRH.head()

,id_funcionario,departmento,regiao,educacao,genero,canal_recrutamento,numero_treinamentos,idade,aval_ano_anterior,tempo_servico,promovido
0,65438,Marketing,Sudeste,Mestrado ou Doutorado,F,Outsourcing,1,35,5.0,8,0
1,65141,Logistica,Nordeste,Superior,M,Outro,1,30,5.0,4,0
2,7513,Marketing,Sudeste,Superior,M,Outsourcing,1,34,3.0,7,0
3,2542,Marketing,Norte,Superior,M,Outro,2,39,1.0,10,0
4,48945,Tecnologia,Nordeste,Superior,M,Outro,1,45,3.0,2,0

In [9]:
dadosRH.shape

(54808, 11)